.App {
  text-align: center;
  border-style: dashed;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: aquamarine;
}

h1 {
  font-family: 'Rock Salt', cursive;
  margin-top: 30px;
}

.button {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 5px;
}
